Flask==2.1.2
Flask-Login==0.6.1
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
psycopg2-binary==2.9.3
Werkzeug==2.1.2
boto3==1.24.28
celery==5.2.7
redis==4.3.4
python-dotenv==0.20.0
uuid==1.30
itsdangerous==2.1.2
blinker==1.5
